.each-image-div{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 25%;
	margin-right: 15px;

}

.images-wrapper{
	width: 100%;
}

.ind-image{
	width: 100%;

}

md-card-content{
	padding: 10px !important;
}

.upload-column{

}

.upload-btn{
	font-weight: 500 !important;
	margin-top: 17px;
}

.upload-btn-label{
	font-weight: 500 !important;

}

.interface-fab{
}

.select-photos-label{
	font-weight: normal !important;
}

html{
	background-color: white;
}

.work-card-title{
	font-size: 20px !important;
}

.photo-work-card-img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.photo-work-card-img img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.photo-work-card-img figure:hover img{

	opacity: 0.65;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);

}

.video-work-card-img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.video-work-card-img img{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.video-work-card-img figure:hover img{

	opacity: 0.65;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);

}


