<md-dialog style="height: 85%; width: 65%; max-width: 1200px !important;" flex="80" class="md-dynamic-height" aria-label="viewVideoWorkDialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{workTitle}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="height: 100%">

    <div ng-if="domain === 'youtube'" style="width: 100%;">
      <div class="view-video-wrapper">
        <iframe align="middle" class="view-video-iframe-int" ng-src="{{videoUrl}}"
                frameborder="0"
                allowfullscreen></iframe>
      </div>
    </div>

    <div ng-if="domain === 'vimeo'" style="width: 100%;">
      <div class="view-video-wrapper">
        <iframe align="middle" class="view-video-iframe-int"
                ng-src="{{videoUrl}}"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen></iframe>
      </div>
    </div>

    <div ng-if="domain === 'facebook'" style="width: 100%;">
      <div class="view-video-wrapper">
        <iframe class="view-video-iframe-int" ng-src="{{videoUrl}}" frameborder="0" scrolling="no" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
    </div>



    <div class="video-work-meta">
      <div class="video-work-info" style="margin-bottom: 10px;">
        {{workInfo}}
      </div>
      <div class="video-work-cast-interface">
        <b>Cast:</b>
        <br>
        <md-grid-list md-row-height-sm="17px" md-row-height-gt-sm="18px" md-row-height-xs="11px;" md-row-height-gt-xs="15px" md-cols="2" md-gutter="0em">
          <md-grid-tile ng-repeat="member in cast">
            {{member}}
          </md-grid-tile>
        </md-grid-list>
      </div>
      <div class="video-work-crew-interface">
        <b>Directed by:</b>
        <br>
        <md-grid-list md-row-height-sm="17px" md-row-height-gt-sm="17px" md-row-height-xs="11px;" md-row-height-gt-xs="15px" md-cols="2" md-gutter="0em">
          <md-grid-tile ng-repeat="director in directors">
            {{director}}
          </md-grid-tile>
        </md-grid-list>
      </div>

      <div class="video-work-crew-interface">
        <b>Edited by:</b>
        <br>
        <md-grid-list md-row-height-sm="17px" md-row-height-gt-sm="17px" md-row-height-xs="11px;" md-row-height-gt-xs="15px" md-cols="2" md-gutter="0em">
          <md-grid-tile ng-repeat="editor in editors">
            {{editor}}
          </md-grid-tile>
        </md-grid-list>
      </div>

      <b>{{copyright}}</b>
    </div>
  </md-dialog-content>
</md-dialog>

