<md-dialog style="height: 85%; width: 65%;" flex="80" class="md-dynamic-height" aria-label="viewVideoWorkDialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{workTitle}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="height: 100%">

    <div ng-if="domain === 'youtube'" style="width: 100%;">
      <div class="video-wrapper">
        <iframe align="middle" class="video-iframe" ng-src="{{videoUrl}}"
                frameborder="0"
                allowfullscreen></iframe>
      </div>
    </div>

    <div ng-if="domain === 'vimeo'" style="width: 100%;">
      <div class="video-wrapper">
        <iframe align="middle" class="video-iframe"
                ng-src="{{videoUrl}}"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen></iframe>
      </div>
    </div>

    <div ng-if="domain === 'facebook'" style="width: 100%;">
      <div class="">
        <iframe ng-src="{{videoUrl}}" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
      </div>
    </div>

    <div class="video-work-meta">
      <div class="video-work-info">
        {{workInfo}}
      </div>
      <div class="video-work-cast">
        <ul>
          <li ng-repeat="member in cast">
            <b>{{member.join (', ')}}</b>
          </li>
        </ul>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>

