<md-dialog style="height: 80%; width: 70%;" aria-label="viewVideoWorkDialog">
  <md-dialog-content>

    <div ng-if="domain === 'youtube'">
      <div class="video-wrapper">
        <iframe align="middle" class="video-iframe" ng-src="{{videoUrl}}"
                frameborder="0"
                allowfullscreen></iframe>
      </div>
    </div>

    <div ng-if="domain === 'vimeo'">
      <div class="video-wrapper">
        <iframe align="middle" class="video-iframe"
                ng-src="{{videoUrl}}"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen></iframe>
      </div>
    </div>

    <div>
      Viewing Video Work
    </div>
  </md-dialog-content>
</md-dialog>
