.ind-work-image{
	max-width: 100%;
	display: block;
	margin: 0 auto;
	max-height: 200px !important;


}

.view-image-dialog {
	display: block !important;
	max-width: 50% !important;
	max-height: 75% !important;
	height: auto !important;
	width: auto !important;

}

.view-image-dialog-img {
	max-width: 100% !important;
	max-height: 310px !important;
	height: auto !important;
	width: auto !important;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	-moz-transform: translateZ(0) scale(1.0, 1.0);
	-o-transform: translateZ(0) scale(1.0, 1.0);


}




work-image{
	margin-left: 5%;
	margin-right: 5%;

}

.interface-photo-models figure{
	justify-content: flex-start;
}

.interface-photo-models {
	margin-bottom: 10px;
	width: 50%;
}

.view-photo-work-interface-meta-wrapper {
	padding: 40px;
}

.view-photo-work-dialog-content {
	overflow-x: hidden;
}

.view-photo-work-grid {
	margin-top: 40px;
	margin-bottom: 40px;
}


.view-work-dialog-img figure img {

	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	-moz-transform: translateZ(0) scale(1.0, 1.0);
	-o-transform: translateZ(0) scale(1.0, 1.0);
}

.view-work-dialog-img figure:hover img {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);


}

.view-image-img{
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

.view-image-close{
	float: right !important;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(255, 87, 34, 0.7);
	font-weight: normal;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;

}
