

.view-video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.view-video-iframe {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 1200px;
	max-height: 750px;
	width: 100%;
	height: 100%;
}


.view-video-dialog{
	height:auto;
	width: auto;

}

.video-work-crew-grid figure {
	justify-content: flex-start;
}

.video-work-crew-grid {
	margin-bottom: 15px;
}

.video-work-cast {
	margin-bottom: 10px !important;
}

.video-work-directors {
	margin-bottom: 10px !important;
}

.video-work-editors {
	margin-bottom: 10px !important;
}

.work-copyright {
	margin-top: 20px;
	font-size: 0.8em;
}

.view-video-dialog-meta-wrapper {
	margin-left: 40px;
	margin-bottom: 40px;
	margin-right: 40px;
}

.view-video-dialog-meta-wrapper-yt {
	margin-top: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
	margin-right: 40px;
}

.view-video-dialog-title {

}


@media screen and (min-width: 435px) {
	.close-video-dialog-btn{
		position: absolute !important;
		right: 5px; !important;
		top: 35px; !important;
		font-size: 20px; !important;
		z-index: 1000; !important;
	}

	.close-video-dialog-icon {
		position: absolute;
		z-index: 1000;
		bottom: 11px;
		right: 10.5px;
		color: white;
		font-size: 30px !important;
		font-weight: bold; !important;
		text-shadow: 0px 2px 8px #000000;
	}

	.close-video-dialog-btn-fb{
		position: absolute !important;
		right: 5px; !important;
		top: 35px; !important;
		font-size: 30px; !important;
		z-index: 1000; !important;
	}

	.close-video-dialog-icon-fb {
		position: absolute;
		z-index: 1000;
		top: 8px;
		right: 8px;
		color: white;
		font-size: 25px !important;
		font-weight: bold; !important;
		text-shadow: 0px 2px 8px #000000;
	}

	.view-video-dialog-title {
		font-size: 30px !important;
		margin-bottom: 35px;
		line-height: 35px;
	}


}

@media screen and (max-width: 435px) {
	.close-video-dialog-btn{
		position: absolute !important;
		right: 5px; !important;
		top: 35px; !important;
		font-size: 20px; !important;
		z-index: 1000; !important;
	}

	.close-video-dialog-icon {
		position: absolute;
		z-index: 1000;
		bottom: 11px;
		right: 10.5px;
		color: white;
		font-size: 30px !important;
		font-weight: bold; !important;
		text-shadow: 0px 2px 8px #000000;
	}

	.close-video-dialog-btn-fb{
		position: absolute !important;
		right: 2px; !important;
		top: 2px; !important;
		font-size: 10px; !important;
		z-index: 1000; !important;
		min-height: 10px !important;
		height: 20px !important;
		width: 20px !important;
		margin-right: 4px !important;
		padding: 0 !important;
	}

	.close-video-dialog-icon-fb {

		z-index: 1000;
		bottom: 0px;
		right: 4px;
		color: white;
		font-size: 20px !important;
		font-weight: bold; !important;
		text-shadow: 0px 2px 8px #000000;
	}

	.view-video-dialog-title {
		font-size: 25px !important;
		margin-bottom: 20px;
		line-height: 30px;
	}
}






@media
screen and ( max-width: 1090px),
screen and (min-width: 960px) {
	.work-delete-btn{
		min-width: 40px !important;
	}
	.work-edit-btn {
		min-width: 40px !important;
	}
	.work-action-buttons {
		margin-left: auto;
		margin-right: auto;
	}
}



@media screen and (max-width: 822px) {
	.work-card-title {
		font-size: 16px !important;
	}
}

@media screen and (max-width: 959px) {

	.work-delete-btn {
		min-width: 88px !important;
	}

	.work-edit-btn {
		min-width: 88px !important;
	}

	.work-action-buttons {
		margin: 8px;
	}
}

@media screen and (min-width: 1091px) {

	.work-delete-btn {
		min-width: 88px !important;
	}

	.work-edit-btn {
		min-width: 88px !important;
	}

	.work-action-buttons {
		margin: 8px;
	}
}



.left-arrow-icon{
	text-shadow: 0px 2px 10px #000000;
	color: white;
	font-size: 64px !important;
	height: 64px !important;
	width: 64px !important;
	z-index: 999;
}

.right-arrow-icon{
	text-shadow: 0px 2px 10px #000000;
	color: white;
	font-size: 64px !important;
	height: 64px !important;
	width: 64px !important;
	z-index: 999;
}

@media only screen and (max-height: 2560px) {
	.left-arrow-btn {
		position: fixed;
		height: 64px !important;
		width: 64px !important;
		font-size: 64px !important;
		padding: 0 !important;
		z-index: 999;
		top: 44% !important;
		left: 0 !important;
	}

	.right-arrow-btn {
		position: fixed;
		height: 64px !important;
		width: 64px !important;
		font-size: 64px !important;
		padding: 0 !important;
		top: 44% !important;
		z-index: 999;
		right: 0 !important;
	}
	.left-arrow-icon{
		text-shadow: 0px 2px 10px #000000;
		color: white;
		font-size: 64px !important;
		height: 64px !important;
		width: 64px !important;
		z-index: 999;
	}

	.right-arrow-icon{
		text-shadow: 0px 2px 10px #000000;
		color: white;
		font-size: 64px !important;
		height: 64px !important;
		width: 64px !important;
		z-index: 999;
	}
}

@media only screen and (max-height: 420px), (max-width: 450px) {
	.left-arrow-btn {
		position: fixed;
		height: 48px !important;
		width: 48px !important;
		font-size: 48px !important;
		padding: 0 !important;
		z-index: 999;
		top: 42% !important;
		left: 0 !important;
	}

	.right-arrow-btn {
		position: fixed;
		height: 48px !important;
		width: 48px !important;
		font-size: 48px !important;
		padding: 0 !important;
		top: 42% !important;
		z-index: 999;
		right: 0 !important;
	}

	.left-arrow-icon{
		text-shadow: 0px 2px 10px #000000;
		color: white;
		font-size: 48px !important;
		height: 48px !important;
		width: 48px !important;
		z-index: 999;
	}

	.right-arrow-icon{
		text-shadow: 0px 2px 10px #000000;
		color: white;
		font-size: 48px !important;
		height: 48px !important;
		width: 48px !important;
		z-index: 999;
	}

	.view-photo-dialog {
		display: block !important;
		max-width: 70% !important;
		max-height: 300px !important;
		height: auto !important;
		width: auto !important;

	}

	.view-photo-dialog-img {
		max-width: 100% !important;
		max-height: 310px !important;
		height: auto !important;
		width: auto !important;
		-webkit-transform: translateZ(0) scale(1.0, 1.0);
		-moz-transform: translateZ(0) scale(1.0, 1.0);
		-o-transform: translateZ(0) scale(1.0, 1.0);

	}
}

.view-photo-dialog {
	display: block !important;
	max-width: 70% !important;
	max-height: 800px !important;

}


.view-photo-dialog-img {
	max-width: 100%;
	height: auto;
	max-height: 800px;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	-moz-transform: translateZ(0) scale(1.0, 1.0);
	-o-transform: translateZ(0) scale(1.0, 1.0);


}
