html{
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

body{
	font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  top: 10px;
  right: 10px;
  position: absolute;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

section {
	height: 100%;
}

body {

}

.grid-item{
	padding: 0;


	overflow: hidden;
	margin: 0;
}


.grid-img{

	height: 100%;
	position: relative;
	max-width: 100%;
	width: 100%;
	display: block;
}

.social-media-links-comp {
	top: 0;
	left: 0;
	position: absolute;
	padding-left: 0 !important;

}

.social-media-links-mobile {
	margin-bottom: -30px;
	margin-top: 10px;
}

.links-list li{
	display: inline;
	width: 15px !important;
}

.links-list {
	padding-left: 0 !important;
	margin-bottom: 0 !important;
}

.links-list md-icon{
	font-size: 24px !important;
	min-height: 12px !important;
	min-width: 12px !important;
	height: 15px !important;
	width: 15px !important;
}

.links-list li button {
	padding: 4px !important;
	margin: 0 !important;
}

.social-media-links ul {
	padding-left: 0 !important;
}



#portfolio-grid.ng-enter {
	transition: 0.85s cubic-bezier(.98,.0001,.58,1) opacity;
	opacity:0;

}
#portfolio-grid.ng-enter.ng-enter-active {
	opacity:1;
}


#portfolio-grid {
	background-color: white !important;
	width: 100% !important;
	max-width: 1600px;
	margin: 0 auto;
	display: block;
	clear: both;
}

.grid-wrapper{
	background-color: white;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

works-grid-item{
	float: left;

	background: #fff;

	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

works-grid-item a,
works-grid-item a img {
	display: block;
	position: relative;
}

works-grid-item a {
	overflow: hidden;
}

works-grid-item a div {
	position: absolute;

}

.grid-ind-works a {
	text-decoration: none;
	color: white;
}

.hover-el{
	background-color: red !important;
	width: 100%;
	height: 100%;
}

.hover-element-data-wrap {
	padding: 24px 24px 0 24px;
	display: block;
	height: 100%;
	font-size: 20px;
	max-width: 100%;
	overflow: hidden;
	width: 100%;
}

.hover-title {
	font-size: 1.5em;
	width: 80%;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.hover-element-work-type {
	clear: both;
	position: absolute;
	bottom: 0;
	float: right;
	right: 0;
	font-size: 0.9em;
}

.work-type{
	bottom: 24px;
	right: 24px;
}

@media only screen and (max-width: 729px) {
	.hover-title {
		font-size: 1em;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}

	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.7em;
	}
}

@media only screen and (max-width: 499px) {
	.hover-title {
		font-size: 0.75em;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.6em;
	}
	.work-type{
		bottom: 16px;
		right: 16px;
	}
}




