html{
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

body{
	font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.content {

}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  top: 10px;
  right: 10px;
  position: absolute;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

section {

}

body {

}

.bw-footer {
	text-align: center;
}

.footer-link {
	text-decoration: none !important;
	color: white !important;
}

.footer-img {
	display: block;
	margin: auto;
}

.grid-item{
	padding: 0;


	overflow: hidden;
	margin: 0;
}

p {
	text-indent: 0;
}

.show-image {
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	transform: translateZ(0) scale(1.0, 1.0);
	-moz-transform: translateZ(0) scale(1.0, 1.0);
	-o-transform: translateZ(0) scale(1.0, 1.0);
}

.show-image.ng-enter {
	transition: .85s cubic-bezier(.1, .0001, .58, 1) opacity;
	transition-delay: .2s;
	opacity: 0;
}

.show-image.ng-enter.ng-enter-active {
	opacity: 1;
}

.show-about-text.ng-enter{
	transition: .45s cubic-bezier(.1, .0001, .58, 1) opacity;
	transition-delay: .65s;
	opacity: 0;
}

.show-about-text.ng-enter.ng-enter-active {
	opacity: 1;
}


.grid-img{

	height: 100%;
	position: relative;
	max-width: 100%;
	width: 100%;
	display: block;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	transform: translateZ(0) scale(1.0, 1.0);
	-moz-transform: translateZ(0) scale(1.0, 1.0);
	-o-transform: translateZ(0) scale(1.0, 1.0);
}



.social-media-links-comp {
	top: 0;
	left: 0;
	position: absolute;
	padding-left: 0 !important;

}

.social-media-links-mobile {

	margin-top: 10px;
}

.links-list li{
	display: inline;
	width: 15px !important;
}

.links-list {
	padding-left: 0 !important;
	margin-bottom: 0 !important;
}

.links-list md-icon{
	font-size: 24px !important;
	min-height: 12px !important;
	min-width: 12px !important;
	height: 15px !important;
	width: 15px !important;
}

.links-list li button {
	padding: 4px !important;
	margin: 0 !important;
}

.social-media-links ul {
	padding-left: 0 !important;
}



#portfolio-grid.ng-enter {
	transition: 0.85s cubic-bezier(.98,.0001,.58,1) opacity;
	opacity:0;

}
#portfolio-grid.ng-enter.ng-enter-active {
	opacity:1;
}


#portfolio-grid {
	width: 100% !important;
	max-width: 1600px;
	margin: 0 auto;
	display: block;
	clear: both;
}

.grid-wrapper{
	background-color: white;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

works-grid-item{
	float: left;

	background: #fff;

	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

works-grid-item a,
works-grid-item a img {
	display: block;
	position: relative;
}

works-grid-item a {
	overflow: hidden;
}

works-grid-item a div {
	position: absolute;

}

.grid-ind-works a {
	text-decoration: none;
	color: white;
}

.hover-el{
	background-color: red !important;
	width: 100%;
	height: 100%;
}

.hover-element-data-wrap {
	padding: 24px 24px 0 24px;
	display: block;
	height: 100%;
	font-size: 20px;
	max-width: 100%;
	overflow: hidden;
	width: 100%;
}

.hover-title {
	font-size: 1.3em;
	line-height: 28px;
	width: 80%;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.hover-copyright {
	position: absolute;
	font-size: 0.7em;
	width: 80%;
	bottom: 24px;
	left: 24px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;

}

.hover-element-work-type {
	clear: both;
	position: absolute;
	bottom: 0;
	float: right;
	right: 0;
	font-size: 0.7em;
}

.work-type{
	bottom: 24px;
	right: 24px;
}

.person {
	font-size: 0.7em;
}

.models-list,.cast-list {
	width: 80%;
	position: absolute;
	top: 80px !important;
	padding-left: 0 !important;
}

.cast-list md-grid-tile figure{
	font-size: 0.8em !important;
	justify-content: flex-start !important;
}

.hover-cast {
	width: 100%;
}

.hover-directors {
	width: 100%;
	position: absolute;
	top: 225px;
	font-size: 0.8em;
}

.hover-editors {
	width: 100%;
	position: absolute;
	top: 180px;
	font-size: 0.7em;
}

.hover-models {
	width: 100%;
}

@media only screen and (max-width: 1575px) {
	.hover-title {
		font-size: 1.3em;
		line-height: 25px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 197px;
		font-size: 0.8em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.7em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 75px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.8em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.7em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.7em;
		width: 80%;
		bottom: 24px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 24px;
		right: 16px;
	}
}

@media only screen and (max-width: 1493px) {
	.hover-title {
		font-size: 1.3em;
		line-height: 25px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 185px;
		font-size: 0.8em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.7em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 75px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.8em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.7em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.7em;
		width: 80%;
		bottom: 24px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 24px;
		right: 16px;
	}
}

@media only screen and (max-width: 1406px) {
	.hover-title {
		font-size: 1.3em;
		line-height: 25px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 178px;
		font-size: 0.7em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.7em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 75px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.7em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.6em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.6em;
		width: 80%;
		bottom: 24px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 24px;
		right: 16px;
	}
}

@media only screen and (max-width: 1279px) {
	.hover-title {
		font-size: 1.3em;
		line-height: 25px;
		width: 80%;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 75px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.8em !important;
		justify-content: flex-start !important;
	}


	.hover-directors {
		width: 100%;
		position: absolute;
		top: 225px;
		font-size: 0.8em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.7em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.6em;
		width: 80%;
		bottom: 24px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.6em;
	}

	.work-type{
		bottom: 24px;
		right: 24px;
	}
}

@media only screen and (max-width: 1150px) {
	.hover-title {
		font-size: 1.3em;
		line-height: 25px;
		width: 80%;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 75px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.8em !important;
		justify-content: flex-start !important;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 208px;
		font-size: 0.7em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.7em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.6em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.6em;
	}

	.work-type{
		bottom: 16px;
		right: 24px;
	}
}

@media only screen and (max-width: 1050px) {
	.hover-title {
		font-size: 1.3em;
		line-height: 25px;
		width: 80%;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 75px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.8em !important;
		justify-content: flex-start !important;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 182px;
		font-size: 0.7em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.7em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.6em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.6em;
	}

	.work-type{
		bottom: 16px;
		right: 24px;
	}
}

@media only screen and (max-width: 959px) {
	.hover-title {
		font-size: 1.3em;
		line-height: 27px;
		width: 80%;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.9em !important;
		justify-content: flex-start !important;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 85px !important;
		padding-left: 0 !important;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 250px;
		font-size: 0.9em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.7em;
		width: 80%;
		bottom: 24px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.7em;
	}

	.work-type{
		bottom: 24px;
		right: 24px;
	}
}

@media only screen and (max-width: 880px) {
	.hover-title {
		font-size: 1.4em;
		line-height: 25px;
		width: 80%;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.8em !important;
		justify-content: flex-start !important;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 75px !important;
		padding-left: 0 !important;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 230px;
		font-size: 0.8em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.6em;
		width: 80%;
		bottom: 24px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.6em;
	}

	.work-type{
		bottom: 24px;
		right: 24px;
	}
}

@media only screen and (max-width: 810px) {
	.hover-title {
		font-size: 1.2em;
		line-height: 23px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 30px;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.8em !important;
		justify-content: flex-start !important;
	}

	.person {
		font-size: 0.65em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 208px;
		font-size: 0.8em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 165px;
		font-size: 0.7em;
	}

	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.7em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.6em;
		width: 80%;
		bottom: 24px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 24px;
		right: 24px;
	}
}

@media only screen and (max-width: 789px) {
	.hover-title {
		font-size: 1.2em;
		line-height: 23px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 30px;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.8em !important;
		justify-content: flex-start !important;
	}

	.person {
		font-size: 0.65em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 200px;
		font-size: 0.8em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 165px;
		font-size: 0.7em;
	}

	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.7em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.6em;
		width: 80%;
		bottom: 24px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 24px;
		right: 24px;
	}
}

@media only screen and (max-width: 740px) {
	.hover-title {
		font-size: 1.2em;
		line-height: 23px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 30px;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.8em !important;
		justify-content: flex-start !important;
	}

	.person {
		font-size: 0.65em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 193px;
		font-size: 0.8em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 165px;
		font-size: 0.7em;
	}

	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.7em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.6em;
		width: 80%;
		bottom: 24px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 24px;
		right: 24px;
	}
}

@media only screen and (max-width: 695px) {
	.hover-title {
		font-size: 1em;
		line-height: 20px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 191px;
		font-size: 0.7em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 55px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.7em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.6em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.6em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 16px;
		right: 16px;
	}
}

@media only screen and (max-width: 630px) {
	.hover-title {
		font-size: 1em;
		line-height: 20px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 165px;
		font-size: 0.7em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 55px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.7em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.6em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.6em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 16px;
		right: 16px;
	}
}

@media only screen and (max-width: 600px) {
	.hover-title {
		font-size: 0.9em;
		line-height: 20px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 160px;
		font-size: 0.7em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 100px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 55px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.7em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.6em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.6em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 16px;
		right: 16px;
	}
}

@media only screen and (max-width: 555px) {
	.hover-title {
		font-size: 0.8em;
		line-height: 15px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 130px;
		font-size: 0.5em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 45px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.5em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.4em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.4em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 16px;
		right: 16px;
	}
}

@media only screen and (max-width: 554px) {
	.hover-title {
		font-size: 0.7em;
		line-height: 14px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 150px;
		font-size: 0.5em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 38px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.5em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.4em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.4em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 16px;
		right: 16px;
	}
}

@media only screen and (max-width: 522px) {
	.hover-title {
		font-size: 0.7em;
		line-height: 14px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 140px;
		font-size: 0.5em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 38px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.5em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.4em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.4em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 16px;
		right: 16px;
	}
}

@media only screen and (max-width: 508px) {
	.hover-title {
		font-size: 0.7em;
		line-height: 14px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 135px;
		font-size: 0.5em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 38px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.5em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.4em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.4em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 16px;
		right: 16px;
	}
}

@media only screen and (max-width: 486px) {
	.hover-title {
		font-size: 0.7em;
		line-height: 14px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 135px;
		font-size: 0.5em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 38px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.5em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.4em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.4em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 16px;
		right: 16px;
	}
}

@media only screen and (max-width: 472px) {
	.hover-title {
		font-size: 0.7em;
		line-height: 14px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 118px;
		font-size: 0.5em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 38px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.5em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.4em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.4em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 16px;
		right: 16px;
	}
}

@media only screen and (max-width: 458px) {
	.hover-title {
		font-size: 0.7em;
		line-height: 14px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 115px;
		font-size: 0.5em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 38px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.5em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.4em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.4em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 16px;
		right: 16px;
	}
}

@media only screen and (max-width: 434px) {
	.hover-title {
		font-size: 0.7em;
		line-height: 14px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 110px;
		font-size: 0.5em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 38px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.5em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.4em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.4em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 16px;
		right: 16px;
	}
}

@media only screen and (max-width: 420px) {
	.hover-title {
		font-size: 0.7em;
		line-height: 14px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 105px;
		font-size: 0.5em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 38px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.5em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.4em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.4em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 16px;
		right: 16px;
	}
}

@media only screen and (max-width: 388px) {
	.hover-title {
		font-size: 0.7em;
		line-height: 14px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 95px;
		font-size: 0.5em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 36px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.5em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.3em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.3em;
		width: 80%;
		bottom: 16px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 16px;
		right: 16px;
	}
}

@media only screen and (max-width: 366px) {
	.hover-title {
		font-size: 0.7em;
		line-height: 14px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 92px;
		font-size: 0.45em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 38px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.45em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.2em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.2em;
		width: 80%;
		bottom: 12px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 12px;
		right: 16px;
	}
}



@media only screen and (max-width: 340px) {
	.hover-title {
		font-size: 0.6em;
		line-height: 12px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;
	}
	.person {
		font-size: 0.55em;
	}

	.hover-directors {
		width: 100%;
		position: absolute;
		top: 87px;
		font-size: 0.4em;
	}

	.hover-editors {
		width: 100%;
		position: absolute;
		top: 90px;
		font-size: 0.4em;
	}

	.models-list,.cast-list {
		width: 80%;
		position: absolute;
		top: 34px !important;
		padding-left: 0 !important;
	}

	.cast-list md-grid-tile figure{
		font-size: 0.4em !important;
		justify-content: flex-start !important;
	}

	.hover-element-data-wrap {
		padding: 16px 16px 0 16px;
		display: block;
		height: 100%;
		font-size: 20px;
		max-width: 100%;
		overflow: hidden;
		width: 100%;
	}
	.hover-element-work-type {
		clear: both;
		position: absolute;
		bottom: 0;
		float: right;
		right: 0;
		font-size: 0.2em;
	}

	.hover-copyright {
		position: absolute;
		font-size: 0.2em;
		width: 80%;
		bottom: 12px;
		left: 16px;
		text-shadow: rgba(0,0,0,.01) 0 0 1px;

	}

	.work-type{
		bottom: 12px;
		right: 16px;
	}
}
md-grid-tile{

	transition: all 650ms ease-out 50ms;
}

.grid-wrapper md-grid-list{
	overflow: hidden;
}




