.slide.ng-hide-add,
.slide.ng-hide-remove {
	-webkit-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;
	display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
	opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}

.slider{
	min-height: 400px;
	position: relative;
}

.slide{
	position: absolute;

	height: 100%;
	width: 100%;

}

.slide img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.arrows{
	position: absolute;
	top: 20px;
}
