.slide.ng-hide-add,
.slide.ng-hide-remove {
	-webkit-transition: all linear 1s;
	-moz-transition: all linear 1s;
	-o-transition: all linear 1s;
	transition: all linear 1s;
	display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
	opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}

.slider{
	height: 100%;
	position: relative;
	display: inline-block;

}

.fade-in-animation {
	transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
}

.fade-in {
	opacity: 1 !important;
}

.image-slider{
	opacity: 0;
}


.slide-animation {
	transition: all 0.8s ease-in-out;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;

}


.slide-active
 {
	z-index: 2;
	opacity: 1 !important;

}


.slide-inactive{

	z-index: 1;
	opacity: 0;
}



.slide{
	position: relative;
	display: block;
	height: 100%;
	opacity: 0;
	max-height: 700px !important;
	width: 100%;
	max-width: 100%;
	float: left;
	margin-right: -100%;

}



.slide img{
	display: block;
	width: 100%;
	max-height: 700px !important;
	margin: 0 auto;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	transform: translateZ(0) scale(1.0, 1.0);
	-moz-transform: translateZ(0) scale(1.0, 1.0);
	-o-transform: translateZ(0) scale(1.0, 1.0);
}

.arrows{
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 0;
}

.nav-arrow {
	color: #808285;
	opacity: 0.8
}
