<div layout="column" layout-fill>
  <md-card style="height: 100%; width: 100%;">
    <md-card-title>
      <md-card-title-text>
        <span class=" work-card-title">{{work.title}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content style="max-width: 400px; overflow: hidden;" layout-align="center center">
      <a href="#" class="photo-work-card-img" ng-click="showPhotoWork($event)">
        <img layout-align="center center" style="height: auto;" ng-src="{{coverImageUrl}}"/>
      </a>
    </md-card-content>
    <md-card-actions class="work-action-buttons">
      <md-button class="work-delete-btn" style="color: #d7392c;" ng-click="deletePhotoWork($event)">Delete</md-button>
      <md-button class="work-edit-btn" style="color: #ffb300;" ng-click="editPhotoWork(work)">Edit</md-button>
    </md-card-actions>
  </md-card>
</div>



