.view-video-wrapper{
	height: 100%;

	overflow-y: hidden;

}

.view-video-iframe{
	height: 100%;
	width: 100%;

	overflow-y: hidden;
}


.view-video-dialog{
	height:100%;

	width:100%;
	max-height:100%;
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0;
	overflow-y: hidden;
}

.view-video-dialog::-webkit-scrollbar{
	display: none;
}

.close-video-dialog-btn{
	position: absolute;
	right: 41px;
	top: 35px;
	font-size: 60px;
	z-index: 1000;
}

.close-video-dialog-icon {
	right: 41px;
	top: 35px;
	z-index: 1000;
	color: white;
	font-size: 60px;
	font-weight: bold;
	text-shadow: 0px 2px 10px #000000;
}

.left-arrow-btn {
	position: fixed;
	height: 64px !important;
	width: 64px !important;
	font-size: 64px !important;
	padding: 0 !important;
	z-index: 999;
	top: 44% !important;
	left: 0 !important;
}

.right-arrow-btn {
	position: fixed;
	height: 64px !important;
	width: 64px !important;
	font-size: 64px !important;
	padding: 0 !important;
	top: 44% !important;
	z-index: 999;
	right: 0 !important;
}



.left-arrow-icon{
	text-shadow: 0px 2px 10px #000000;
	color: white;
	font-size: 64px !important;
	height: 64px !important;
	width: 64px !important;
	z-index: 999;
}

.right-arrow-icon{
	text-shadow: 0px 2px 10px #000000;
	color: white;
	font-size: 64px !important;
	height: 64px !important;
	width: 64px !important;
	z-index: 999;
}

.view-photo-dialog {

	max-width: 70%;
	max-height: 80%;
}


.view-photo-dialog-img {
	max-width: 100%;
	max-height: 100%;



}
