

.view-video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.view-video-iframe {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 1200px;
	max-height: 750px;
	width: 100%;
	height: 100%;
}


.view-video-dialog{
	height:auto;
	width: auto;




}


@media screen and (min-width: 435px) {
	.close-video-dialog-btn{
		position: absolute;
		right: 20px;
		top: 35px;
		font-size: 60px;
		z-index: 1000;
	}
}

@media screen and (max-width: 435px) {
	.close-video-dialog-btn{
		position: absolute;
		right: 5px;
		top: 20px;
		font-size: 20px;
		z-index: 1000;
	}
}


.close-video-dialog-icon {
	right: 41px;
	top: 35px;
	z-index: 1000;
	color: white;
	font-size: 60px;
	font-weight: bold;
	text-shadow: 0px 2px 10px #000000;
}

.left-arrow-btn {
	position: fixed;
	height: 64px !important;
	width: 64px !important;
	font-size: 64px !important;
	padding: 0 !important;
	z-index: 999;
	top: 44% !important;
	left: 0 !important;
}

.right-arrow-btn {
	position: fixed;
	height: 64px !important;
	width: 64px !important;
	font-size: 64px !important;
	padding: 0 !important;
	top: 44% !important;
	z-index: 999;
	right: 0 !important;
}

@media
screen and ( max-width: 1090px),
screen and (min-width: 960px) {
	.work-delete-btn{
		min-width: 40px !important;
	}
	.work-edit-btn {
		min-width: 40px !important;
	}
	.work-action-buttons {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 822px) {
	.work-card-title {
		font-size: 16px !important;
	}
}

@media screen and (max-width: 959px) {

	.work-delete-btn {
		min-width: 88px !important;
	}

	.work-edit-btn {
		min-width: 88px !important;
	}

	.work-action-buttons {
		margin: 8px;
	}
}

@media screen and (min-width: 1091px) {

	.work-delete-btn {
		min-width: 88px !important;
	}

	.work-edit-btn {
		min-width: 88px !important;
	}

	.work-action-buttons {
		margin: 8px;
	}
}



.left-arrow-icon{
	text-shadow: 0px 2px 10px #000000;
	color: white;
	font-size: 64px !important;
	height: 64px !important;
	width: 64px !important;
	z-index: 999;
}

.right-arrow-icon{
	text-shadow: 0px 2px 10px #000000;
	color: white;
	font-size: 64px !important;
	height: 64px !important;
	width: 64px !important;
	z-index: 999;
}

.view-photo-dialog {
	max-width: 60%;
	max-height: 100%;
	height: auto;

	display: block;
	width: auto;


}


.view-photo-dialog-img {
	max-width: 1600px !important;
	max-height: 900px !important;
	height: 100%;
	width: 100%;
	display: block !important;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	-moz-transform: translateZ(0) scale(1.0, 1.0);
	-o-transform: translateZ(0) scale(1.0, 1.0);


}
