

  <div layout-align="center center" flex="100">
    <!--
    <h2>Single Item</h2>
    <slick class="slider single-item" current-index="index" responsive="breakpoints" slides-to-show=1 slides-to-scroll=1>
      asdgsadgasdgasdg
      <div ng-repeat="i in [1,2,3,4]"><h1>{{ i }}</h1></div>
      <p>Current index: {{ index }}</p>
    </slick>

    -->
    <div ng-controller="SliderController" ng-init="getCyclerImages()">
      <image-slider images="cyclerImages"></image-slider>
    </div>
  </div>


