<div layout="row" flex="100" ng-repeat="member in castMembers track by $index" ng-if="$index % 2 === 0" >
  <div layout="column" flex="50" ng-repeat="i in [$index, $index + 1]"  ng-if="castMembers[i] != null">
    <md-input-container ng-if="$index % 2 === 0" style="margin-right: 10px;">
      <label>Cast</label>
      <input ng-model="castFormInput[castMembers[i].name]">
    </md-input-container>
    <md-input-container div ng-if="$index % 2 !== 0">
      <label>Cast</label>
      <input ng-model="castFormInput[castMembers[i].name]">
    </md-input-container>


  </div>
</div>

<md-button style="margin-bottom: 23px;" ng-click="addCastMember($event)">Add another cast member</md-button>
