<div layout="row" flex="100" ng-repeat="editor in editors track by $index" ng-if="$index % 2 === 0" >
  <div layout="column" flex="50" ng-repeat="i in [$index, $index + 1]"  ng-if="editors[i] != null">
    <md-input-container ng-if="$index % 2 === 0" style="margin-right: 10px;">
      <label>Editor</label>
      <input ng-model="editorFormInput[editors[i].name]">
    </md-input-container>
    <md-input-container div ng-if="$index % 2 !== 0">
      <label>Editor</label>
      <input ng-model="editorFormInput[editors[i].name]">
    </md-input-container>


  </div>
</div>

<md-button style="margin-bottom: 23px;" ng-click="addEditor($event)">Add another editor</md-button>
