<form name="editVideoWorkForm" layout="column">

  <md-input-container>
    <label>Title</label>
    <input type="text" ng-model="work.title">
  </md-input-container>

  <edit-cast-input cast="work.cast" cast-form-input="editCastInputModel"></edit-cast-input>

  <edit-directors-input directors="work.directedBy" director-form-input="editDirectorsInputModel"></edit-directors-input>

  <edit-editors-input editors="work.editedBy" editor-form-input="editEditorsInputModel"></edit-editors-input>

  <md-input-container class="md-block">
    <label>Work Info</label>
    <textarea ng-model="work.workInfo" ng-maxlength="500" rows="4"></textarea>
  </md-input-container>

  <md-input-container>
    <label>Copyright</label>
    <input type="text" ng-model="work.copyright">
  </md-input-container>

  <md-input-container>
    <label>Video URL</label>
    <input type="text" ng-model="work.videoUrl">
  </md-input-container>

  <edit-video-cover-image work="work"></edit-video-cover-image>

  <!--
  <upload-cover-image></upload-cover-image> -->

</form>
