<md-content layout-padding style="background-color: white !important;">
  <div>
    <form name="addPhotoWorkForm" layout="column">
      <md-input-container>
        <label>Title</label>
        <input>
      </md-input-container>
      <md-input-container>
        <label>Model</label>
        <input>
      </md-input-container>
      <md-input-container>
        <label>Copyright</label>
        <input>
      </md-input-container>
      <upload-pics-module></upload-pics-module>
    </form>
  </div>
</md-content>
