<div ng-controller="InterfaceController" ng-init="initializePage()" layout-fill>
  <div layout="row" layout-align="center center">
    <img ng-src="modules/images/client/img/logo/blackwashed_logo.png"/>
  </div>

  <div class="images-wrapper" layout="row" layout-align="center center">
    <interface-cycler-image class="each-image-div" ng-repeat="image in cyclerImages" image="image">
    </interface-cycler-image>
  </div>
  <div layout="row" flex="100" style="margin-right: 50px; margin-left: 50px;">

    <add-work-fab flex="50"></add-work-fab>

    <div layout="column" flex="50" class="upload-column" layout-align="start end">
      <md-button class="md-primary upload-btn" style="height: 15px !important;" layout-align="center center">
        <label class="upload-btn-label" for="picToUpload">
          Upload Banner Image
        </label>
      </md-button>
      <input layout-align="center center" type="file" id="picToUpload" ngf-max-height="3000" ngf-max-size="10MB" style="display: none;" ngf-select="upload($file)">
    </div>


  </div>

  <!--
  <md-button>Create Photo Work&nbsp;<md-icon class="material-icons">insert_photo</md-icon></md-button>
  <md-button>Create Video Work </md-button> -->

  <div style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
      <md-dialog layout-padding flex="70" style="max-height: 80%;">
        <h3 style="margin-bottom: 20px;">Add Photo Work</h3>
        <md-dialog-content style="background-color: white;">
          <add-photo-work-form models-form-input="modelsFormInput"
                               copyright="copyright"
                               photo-work-title="photoWorkTitle"
                               post-text="postText"
                               photo-work-images="addPhotoWorkImages"></add-photo-work-form>
        </md-dialog-content>
        <md-dialog-actions>
          <md-button class="md-primary" ng-click="submitPhotoWork()">Submit</md-button>
        </md-dialog-actions>
      </md-dialog>
    </div>
  </div>

  <div style="visibility: hidden">
    <div class="md-dialog-container" id="addVideoWorkDialog">
      <md-dialog layout-padding flex="70" style="max-height: 80%;">
        <h3 style="margin-bottom: 20px;">Add Video Work</h3>
        <md-dialog-content style="background-color: white;">
          <add-video-work-form work-title="videoWorkTitle"
                               video-url="videoUrl"
                               copyright="copyright"
                               post-text="postText"
                               cast-form-input="castFormInput"
                               editor-form-input="editedByFormInput"
                               director-form-input="directedByFormInput"
                               video-cover-image="videoCoverImage">

          </add-video-work-form>

        </md-dialog-content>
        <md-dialog-actions>
          <md-button class="md-primary" ng-click="submitVideoWork()">Submit</md-button>
        </md-dialog-actions>
      </md-dialog>
    </div>
  </div>

  <div style="visibility: hidden">
    <div class="md-dialog-container" id="editFormDialog">
      <md-dialog layout-padding flex="70" style="max-height: 80%;">
        <h3 style="margin-bottom: 20px;">Edit Photo Work</h3>
        <md-dialog-content style="background-color: white !important;">
          <edit-photo-work-form work="photoWorksArray[i]"></edit-photo-work-form>
        </md-dialog-content>
      </md-dialog>
    </div>
  </div>


  <div layout-align="center center">
    <div layout="row" flex="100">

      <div style="margin-left: 10%;" flex="50">
        <div style="margin-bottom: 20px;" layout="row" layout-align="center center">
          <h1>Photo Works</h1>
        </div>
        <div layout="column" layout-align="center start">
          <div layout="row" ng-repeat="work in photoWorksArray track by $index" ng-if="$index % 2 === 0">
            <div layout="column" ng-repeat="i in [$index, $index + 1]" ng-if="photoWorksArray[i] != null">
              <photo-work work="photoWorksArray[i]" cover-image-url="photoWorksArray[i].coverImageUrl"></photo-work>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-right: 10%;" flex="50">
        <div style="margin-bottom: 20px;" layout="row" layout-align="center center">
          <h1>Video Works</h1>
        </div>
        <div layout="column" layout-align="center start">
          <div layout="row" ng-repeat="work in videoWorksArray track by $index" ng-if="$index % 2 === 0">
            <div layout="column" ng-repeat="i in [$index, $index + 1]" ng-if="videoWorksArray[i] != null">
              <video-work work="videoWorksArray[i]"></video-work>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




  <div id="viewPhotoWorkContainer" ng-cloak></div>

</div>
