<md-dialog class="view-video-dialog md-dialog-fullscreen" style="width: 100%; height: 100%;" aria-label="viewVideo">
  <md-dialog-content style="height: 100%; width: 100%">
    <md-button class="md-icon-button close-video-dialog-btn" ng-click="cancel()">
      <md-icon class="close-video-dialog-icon">close</md-icon>
    </md-button>
    <div ng-if="domain === 'youtube'" style="width: 100%; height: 100%;">
      <div class="view-video-wrapper">
        <iframe align="middle" class="view-video-iframe" ng-src="{{videoUrl}}"

                frameborder="0"
                allowfullscreen></iframe>
      </div>
    </div>

    <div ng-if="domain === 'vimeo'" style="width: 100%; height: 100%;">
      <div class="view-video-wrapper">
        <iframe align="middle" class="view-video-iframe"

                ng-src="{{videoUrl}}"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen></iframe>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
