<div ng-click="viewWork($event)" layout="column" layout-fill>
  <a href="#">
    <img class="grid-img"
         ng-src="{{work.coverImageUrl}}">
    <div class="hover-el">
      <div class="hover-element-data-wrap">
        <div class="hover-title">
          <span>{{work.title}}</span>
        </div>

        <div ng-if="!work.videoUrl" class="hover-models">
          <md-grid-list class="cast-list" md-row-height-sm="17px" md-row-height-gt-sm="17px" md-row-height-xs="11px;" md-row-height-gt-xs="15px" md-cols="1" md-gutter="0em">
            <md-grid-tile ng-repeat="model in work.models">
              {{model}}
            </md-grid-tile>
          </md-grid-list>
        </div>

        <div ng-if="work.videoUrl" class="hover-cast">
          <md-grid-list class="cast-list" md-row-height-sm="17px" md-row-height-gt-sm="17px" md-row-height-xs="11px;" md-row-height-gt-xs="15px" md-cols="2" md-gutter="0em">
            <md-grid-tile ng-repeat="member in work.cast">
              {{member}}
            </md-grid-tile>
          </md-grid-list>
        </div>

        <div class="hover-directors" ng-if="work.directedBy" style="width: 100%;">
          <div ng-if="work.directedBy.length > 0" style="width: 100%;">
            <div ng-if="work.directedBy.length > 2">
              Directed by {{work.directedBy.join (", ")}}
            </div>
            <div ng-if="work.directedBy.length === 2">
              Directed by {{work.directedBy.join (" & ")}}
            </div>
            <div ng-if="work.directedBy.length === 1">
              Directed by {{work.directedBy[0]}}
            </div>
          </div>
        </div>

        <div class="hover-copyright">
          <span>{{work.copyright}}</span>
        </div>
        <div class="hover-element-work-type">
          <div class="work-type" ng-if="work.videoUrl">Video</div>
        </div>
      </div>
    </div>
  </a>
</div>
