.video-wrapper{

	position:   relative;
	width:      100%;
	height: 0;
	padding-top:   56.25%;

	margin-top: -21%;

}

.video-iframe{
	position: absolute;
	margin-left: 20%;
	bottom:   0;
	width:    60%;
	height:   60%
}

.video-work-meta {
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	width: 100%;
	height: auto;
}
