.video-wrapper{

	position:   relative;
	width:      90%;
	height: 0;
	padding-top:   45%;
	margin-left: 9.5%;
	margin-top: 5%;

}

.video-iframe{
	position: absolute;
	top:      0;

	bottom:   0;

	width:    90%;
	height:   80%
}
