.ind-work-image{
	max-width: 100%;
	display: block;
	margin: 0 auto;



}




work-image{
	margin-left: 5%;
	margin-right: 5%;

}



.view-work-dialog-img figure img {

	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.view-work-dialog-img figure:hover img {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);


}

.view-image-img{
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

.view-image-close{
	float: right !important;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(255, 87, 34, 0.7);
	font-weight: normal;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;

}
